<% if !signed_in? %>
	<div class = 'header'>
		<div class = 'global-rank-container'></div>
		<div class = 'logo_container'>
			<img src = 'assets/logos/white.png' height = "100%" />
		</div>
	</div>
	
	<div class = "signin_container">
		<div class = "signin_text">
			We NEVER post for you...we hate spam!
		</div>
		<%= button_to("Facebook Login", "/auth/facebook", "type" => "button", "class" => "signin_facebook_button", "style" => "width: 50%") %>
	</div>
<% else %>
	<div class = "loading_container inactive" id = "loading"></div>
	<div class = 'header'>
		<div class = 'logo_container'>
			<img src = 'assets/logos/white.png' height = "100%" />
		</div>
		<div class = "profile_container"></div>
	</div>
	<div id = 'page'>
		<div id = 'versus'></div>
		<div id = 'question_show'></div>
		<div id = 'everything_else'></div>
	</div>
	<script type = 'text/json' id = 'json'>
		{
			"current_user": <%= current_user.to_json %>,
			"users" : <%= User.all.to_json %>,
			"issues" : <%= Issue.all.to_json %>,
			"questions" : <%= Question.all.to_json %>,
			"answers" : <%= Answer.all.to_json %>,
			"sliders" : <%= Slider.all.to_json %>,
			"challenges" : <%= Challenge.all.to_json %>,
			"tasks" : <%= Task.all.to_json %>
		}
	</script>

	<%= content_for :javascript do -%>
		<script type = 'text/javascript'>
			$(function() {
				var div, data;
				div = $('<div></div>');
				div.html($('#json').text());
				data = JSON.parse(div.text());
		
				QuizPop.initialize(data);
			});
		</script>
	<% end %>
<% end %>