<div id = "title" class = "question_title">
	<%= question.get('title') %>
</div></br>
<div class = "slider_container">
	<div id = 'slider' class = "user_slider_bar"></div>
	<div id = 'block' class = 'off user_slider' style = 'position: absolute; top: -8px; left: -10px'></div>
	<div id = 'correct' class = 'hide' style = 'position: absolute; top: -8px; left: -10px;'>
		<div class = 'correct_slider'>&#10004;</div>
	</div>
	<div id = 'challenger_answer' class = 'hide' style = 'position: absolute; top: -8px; left: -10px; height: 20px; width: 20px; opacity: 0.5; background: #0ff'></div>

</div></br>

<div id = 'mins' class = "minimum boundary">
	<%= min %>
</div>
<div class = "maximum boundary">
	<%= max %>
</div>
</br>
<div class = "answer_form">
	<form id = 'answer'>
		<% if (question.get('units').indexOf('/') === 0) { %>
			<input type = 'text' id = 'number' value = '<%= input_min %>' class = "typeable"/>
			<%= question.get('units').substring(1) %>
			<input type = 'submit' value = 'Submit' class = "submit_button"/>
		<% } else { %>
			<%= question.get('units').substring(0, question.get('units').indexOf('/')) %>
			<input type = 'text' id = 'number' value = '<%= input_min %>' class = "typeable"/>
			<input type = 'submit' value = 'Submit' class = "submit_button"/>
		<% } %>
	</form>
</div>
<div id = 'url' class = 'hide'>
	<a href = "<%= question.get('url') %>" target = '_blank'>source</a>
</div>
<div id = 'rage_comic'></div>
